

body {
    overflow-x: hidden;
    background-position: center;
}

.navbar {
  position: sticky;
  top: 0;
}

.card{
    border: none;
    background: none;
}


.card img{
  transition: 0,5s;
  filter: grayscale(1);
}

.card:hover img{
    transition: 1.5s;
    filter: grayscale(0);
}


.col-md-4{
    padding:0;
}

#padre {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.pruebaCarta {
    position: relative;
    width: 170px;
    height: 270px;
    border-radius: 6px;
    margin: 30px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    align-items: center;
    transform: scale(0px);
}


.pruebaCarta h1{
    font-weight:900;
    text-align: center;
    margin: 0;
}

h1, p{
    backdrop-filter: blur(2px);
}


.pruebaCarta .content{
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px); 
    opacity: 0;*/
    transition: 0.5s;
    margin: 0;
    z-index: 1px;
}


#hijo, #hijo1, #hijo2, #hijo3, #hijo4, #hijo5 {
    justify-content: center;
    align-items: center;
}

#anime{
    opacity: 0;
    transform: translateX(-50%);
}

.card:hover #anime{
    transition: all 1.5s;
    opacity: 1;
    transform: translateX(0%);
}

#card12{
    visibility: hidden;
}



body {
  height: 100%;
  width: 100%;
  background: linear-gradient(225deg, #2d238a, #40bfe9, #21f263);
  background: -webkit-linear-gradient(225deg, #2d238a, #40bfe9, #21f263);
  /*  this color scheme is from - https://uigradients.com/#Wiretap  */
  background-size: 300% 300%;
  animation: GradientAnimation 20s ease infinite;
  -webkit-animation: GradientAnimation 20s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}